/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  margin: 33px;
  line-height: 18px;
  background-color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  color: black;
  }




h1 {
  height: 18px;
  }
  
h2 {
  margin-top: 20px
  }

h4 {
  margin-top: 20px
  }


p {
  margin: 33px;
  font-size: 13px;
  line-height: 18px;
  }

  
table {
  width: 659px;
  height:  352px;
  margin-top: 20px
  }

thead {
  width:655px;
  height: 24px;
  }



tr,td {
  padding: 2px;
  }

form {
  padding-top: 20px
  }
  
  
  
div {
  font-size: 13px;
  color: green;
  margin-bottom: 15px
  }
  
